*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.movies_collection_display{

    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color: #04152d;
    /* height: auto; */
    flex-direction: column;
    overflow-y: hidden;
         
}

.newwww{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color: #04152d;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
    margin-top: 2rem;
}

.content_upper_sec{
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    /* margin-top: 1rem; */
    gap: 1rem;
    justify-content: center;
}

.options_types{
    display: flex;
    width: 90%;
    justify-content: space-between;
    /* background-color: red; */
    align-items: center;
    font-family: Inter
    Avenir
    Helvetica
    Arial
    sans-serif;
    color: rgb(0, 0, 0);

}


.two_option{
    width: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    margin: 1rem;
    /* border: 1px solid red; */
}

.content_name_sec{
    font-size: 25px;
    font-weight: 600;
    width: 50%;
    color: white;
}

.content_filter_section{
    width: 40%;
    color: #04152d;
    display: flex;
    /* gap: 1rem; */
}


.mmmmm{
    display: flex;
    align-items: center;
    /* width: 18%; */
    flex-direction: row;
    flex-wrap: wrap;
    height: 60vh;
    border-radius: 15px;
}

@media screen and (min-width: 480px) and (max-width: 768px)  {
    .content_filter_section {
        width: 50% !important;
    }
}

@media screen and  (max-width: 426px)  {
    .w-1\/2 {
        width: 100%;
    }
}