*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.movies_collection_display{

    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color: #04152d;
    height: auto;
    flex-direction: column;
         
}

.newwww{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color: #04152d;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
    margin-top: 2rem;
}

.content_upper_sec{
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    /* margin-top: 1rem; */
    gap: 1rem;
    justify-content: center;
}

.options_types{
    display: flex;
    width: 90%;
    justify-content: space-between;
    /* background-color: red; */
    align-items: center;
    font-family: Inter
    Avenir
    Helvetica
    Arial
    sans-serif;
    color: white;

}

.content_name_sec{
    font-size: 25px;
    font-weight: 600;
}

.content_filter_section{
    width: 30%;
    color: #04152d;
}


.mmmmm{
    display: flex;
    align-items: center;
    width: 18%;
    flex-direction: row;
    flex-wrap: wrap;
    height: 60vh;
    border-radius: 15px;
}